<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cars</title>
</head>
<body>
<!--<h1 th:text="${something}"/>-->
<table class="table table-dark">
    <thead>
    <tr>
        <th>#</th>
        <th>Model</th>
        <th>Series</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car: ${cars}">
        <td th:text="${car.getId()}"></td>
        <td th:text="${car.getModel()}"/>
        <td th:text="${car.getSeries}"/>
    </tr>
    </tbody>
</table>
</body>
</html>